accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
bert-score
blinker
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses
datasets
dill
distro
dnspython
email_validator
exceptiongroup
faiss
fastapi
fastapi-cli
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
h11
h2
hf-xet
hpack
httpcore
httptools
httpx
huggingface-hub
hyperframe
idna
importlib_metadata
inquirerpy
Jinja2
jiter
jsonschema
jsonschema-specifications
kiwisolver
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
multidict
multiprocess
munkres
narwhals
networkx
numpy
openai
optree
packaging
pandas
pfzy
pillow
pip
portalocker
prompt_toolkit
propcache
protobuf
psutil
pyarrow
pybind11
pybind11-global
pycparser
pydantic
pydantic_core
pydeck
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytz
pywin32
PyYAML
referencing
regex
requests
rich
rich-toolkit
rpds-py
sacrebleu
safetensors
setuptools
shellingham
six
smmap
sniffio
starlette
streamlit
sympy
tabulate
tenacity
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
typer
typer-slim
typing_extensions
typing-inspection
tzdata
unicodedata2
urllib3
uvicorn
watchdog
watchfiles
wcwidth
websockets
wheel
win_inet_pton
xxhash
yarl
zipp
zstandard
